.iconBox {
  width: 3.4rem;
  height: 3.4rem;
  padding: 0.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  margin: 1rem;
  svg {
    width: 100%;
    height: auto;
  }
}

@mixin mobile {
  @media (max-width: 1024px) {
    @content;
  }
}
